
<!-- Toolbar -->
<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" aria-label="Settings">
      <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
    </md-button>
    <span flex></span>
    <p>Contact me</p>
    <md-button class="md-icon-button" aria-label="Contact" class="mail">
      <md-icon>
		<ng-md-icon icon="mail" style="fill: white" size="24"></ng-md-icon>
	  </md-icon>
    </md-button>
  </div>
</md-toolbar>
    
<!-- Content -->
<md-content flex class="negative-margin">
	
	<!-- Header -->
	<header md-page-header>
		<div md-header-picture style="background-image:url(http://www.wall321.com/thumbnails/detail/20120514/clouds%20roads%20skyscapes%201366x768%20wallpaper_www.wall321.com_4.jpg)"></div>
	</header>

	<div main-text-padding>
		
		<h2 class="md-display-1">Headline</h2>
		<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

		<h2 class="md-display-1">Headline</h2>
		<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

		<h2 class="md-display-2">Headline</h2>
		<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

	</div>

</md-content>



<div layout="column" class="social-buttons">
<!-- Share on Facebook -->
<md-button class="md-fab md-primary social facebook" aria-label="Share on Facebook"
	socialshare
	socialshare-provider="facebook"
	socialshare-text="720kb is enough!">
	<ng-md-icon icon="facebook" style="fill: #fafafa" size="24"></ng-md-icon>
</md-button>
<md-button class="md-fab md-primary social twitter" aria-label="Share on Twitter"
	socialshare
	socialshare-provider="twitter"
	socialshare-text="720kb is enough!">
	<ng-md-icon icon="twitter" style="fill: #fafafa" size="24"></ng-md-icon>
</md-button>
</div>